.navbar_css{
    border-radius:0px !important;
}
.country_list_class{
    position: absolute;
    z-index: 2;
    margin-top: 17%;
    min-width: 83%;
}
.search_ul{
    background-color:#eee;
    cursor:pointer;
}
.search_li{
    padding:12px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #fff;
}
.custom_style{
    width: 102% !important;
    background-color: #4e7fa9;
    color: #fff;
}
.search_headline{
    background-color: #38763a;
    color: #fff;
    margin-left: 30px;
    padding: 9px;
    font-family: monospace;
}

.cart_badge{
    margin-top: -50%;
}

.item_quantity_class{
    width: 14%;
    border-radius: 6px;
    text-align:center !important;
}

.item_quantity_change_class{
    border-radius: 13px;
}

.search_bar_class{
    height: 28px;
}

.cart_class{
    font-size: 18px;
}

.login_input_class{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0 0 10%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0px;
}

.login_label_class{
    margin-left: 34px;
    font-size: 15px;
    margin-bottom: 0px;
}

.login_panel_class{
    border-radius: 0px;
    border-color: #222222;
}

.login_button_class{
    background-color: #222222;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-left: 10%;
}
.login_button_class:hover{
    opacity: 0.8;
}

.login_panel_heading{
    border-color: #222222 !important;
    background-color: #222222 !important;
    color: #fff !important;
    border-radius: 0px !important;
}

.register_label_top_class{
    margin-left: 10%;
    font-size: 15px;
    margin-bottom: 0px;
}

.register_label_bottom_class{
    margin-left: 7%;
    font-size: 15px;
    margin-bottom: 0px;
}

.register_bottom_input_class{
    width: 86%;
    padding: 12px 20px;
    margin: 8px 0 0 7%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0px;
}

.register_button_class{
    background-color: #222222;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 86%;
    margin-left: 7%;
}

.register_button_class:hover{
    opacity: 0.8;
}

.alert-class{
    width: 86%;
    margin-left: 7%;
}