{% extends 'base.html' %}

{% load static %}

{% block title %} Product Home {% endblock %}

{% block css_block %}

<style>
       h4{
            font-weight: 600;
        }
        p{
            font-size: 12px;
            margin-top: 5px;
        }
        .price{
            font-size: 30px;
            margin: 0 auto;
            color: #333;
        }

        .thumbnail{
<!--            opacity:0.70;-->
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }
        .thumbnail:hover{
            opacity:1.00;
            box-shadow: 0px 0px 10px #4bc6ff;
        }
        .line{
            margin-bottom: 5px;
        }
        @media screen and (max-width: 770px) {
            .right{
                float:left;
                width: 100%;
            }
        }
        span.thumbnail {
            border: 1px solid #00c4ff !important;
        border-radius: 0px !important;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
        padding: 10px;
    }
    .container h4{margin-top:70px; margin-bottom:30px;}
    button {    margin-top: 6px;
    }
    .right {
        float: right;
        border-bottom: 2px solid #0a5971;
    }
    .btn-info {
        color: #fff;
        background-color: #19b4e2;
        border-color: #19b4e2;
        font-size:13px;
        font-weight:600;
    }



    .collapsed-icon-toggle.collapsed .on-closed {
      display: initial;
    }
    .collapsed-icon-toggle.collapsed .on-opened {
      display: none;
    }
    .collapsed-icon-toggle .on-closed {
      display: none;
    }
    .collapsed-icon-toggle .on-opened {
      display: initial;
    }
    .scroll-v-250px {
      max-height: 250px;
      overflow-y: scroll;
    }
    .padding-v-xs {
      padding-top: 2px;
      padding-bottom: 2px;
    }
    .btn.ico span.icon {
      opacity: 0;
    }
    .btn.ico.active span.icon {
      opacity: 1;
    }
    .checkbox_class{
        margin-left:10px;
    }
    .checkbox_span_class{

    }
    .filter_header{
        font-size: 17px;
        background-color: #337ab78a;
        padding: 6px;
        margin-bottom: -10px;
        padding-top: 3px;
        padding-bottom: 2px;
        border-radius: 3px;
        color: #fff;
    }

    #loading{
        text-align:center;
        background: url('loader.gif') no-repeat center;
        height: 150px;
    }
</style>

{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block contents %}

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">


                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Filter By</div>
                        <div id="filter1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="filter-setting">
                                <form action="" mathod="GET">
                                        <p class="filter_header">PRICE
                                            <a class="pull-right collapsed-icon-toggle" href="#coll-0" data-toggle="collapse">
                                                <span class="fa fa-minus on-opened"></span>
                                                <span class="fa fa-plus on-closed"></span>
                                            </a>
                                        </p>
                                    <br/>
                                    <div id="coll-0" class="collapse in">
                                        <input type="text" placeholder="150" id="minimum_price" style="width: 40%;" />
                                        -
                                        <input type="text" placeholder="10000" id="maximum_price" style="width: 40%;" />
                                    </div>


                                    <hr class="line"/>
                                        <p class="filter_header">BRAND
                                            <a class="pull-right collapsed-icon-toggle" href="#coll-1" data-toggle="collapse">
                                                <span class="fa fa-minus on-opened"></span>
                                                <span class="fa fa-plus on-closed"></span>
                                            </a>
                                        </p>

                                    <br/>
                                    <div id="coll-1" class="collapse in" >
                                        {% for brand in brands %}
                                            <label style="font-size:12px;" class="checkbox_class">
                                                <input type="checkbox" value="{{ brand.0 }}" class="common_selector brand">
                                                <span class="checkbox_span_class">{{ brand.0 }}</span>
                                            </label>
                                            <br>
                                        {% endfor %}
                                    </div>
                                    <hr class="line"/>
                                        <p class="filter_header">COLOR
                                            <a class="pull-right collapsed-icon-toggle" href="#coll-2" data-toggle="collapse">
                                                <span class="fa fa-minus on-opened"></span>
                                                <span class="fa fa-plus on-closed"></span>
                                            </a>
                                        </p>
                                    <br/>
                                    <div id="coll-2" class="collapse in">
                                         {% for color in colors %}
                                            <label style="font-size:12px;" class="checkbox_class">
                                                <input type="checkbox" value="{{ color.0 }}" class="common_selector color">
                                                {{ color.0 }}
                                            </label>
                                            <br>
                                         {% endfor %}
                                    </div>
                                    <hr class="line"/>
                                        <p class="filter_header">SIZE
                                            <a class="pull-right collapsed-icon-toggle" href="#coll-3" data-toggle="collapse">
                                                <span class="fa fa-minus on-opened"></span>
                                                <span class="fa fa-plus on-closed"></span>
                                            </a>
                                        </p>
                                    <br/>
                                    <div id="coll-3" class="scroll-v-250px collapse in">
                                        {% for size in sizes %}
                                            <label style="font-size:12px;" class="checkbox_class">
                                                <input type="checkbox" value="{{ size.0 }}" class="common_selector size">
                                                {{ size.0 }}
                                            </label>
                                            <br>
                                         {% endfor %}
                                    </div>

                                    <hr class="line"/>
                                    <button type="submit" class="btn btn-block btn-primary">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">


                <div class="row filter_data">


                        <div style="text-align:center;">
                            <span>
                                <i class="fa fa-spinner fa-spin" style="font-size:50px;margin-top: 100px;"></i>
                            </span>
                        </div>


<!--                    {% for product in products %}-->

<!--                            <div class="col-md-4 col-sm-4">-->
<!--                                <span class="thumbnail">-->
<!--                                    {% if product.productimage_set.all %}-->
<!--                                        {% for item in product.productimage_set.all %}-->
<!--                                            {% if item.featured %}-->
<!--                                                <img class="img-responsive" src="{{ item.image.url }}"  style="height: 40% !important;" >-->
<!--                                            {% endif %}-->
<!--                                        {% endfor %}-->
<!--                                    {% else %}-->
<!--                                        <img class="img-responsive" src="{% static 'images/default-image.png' %}">-->
<!--                                    {% endif %}-->
<!--                                    <h4>{{ product.title }}</h4>-->
<!--                                    <div class="ratings">-->
<!--                                        <span class="glyphicon glyphicon-star"></span>-->
<!--                                        <span class="glyphicon glyphicon-star"></span>-->
<!--                                        <span class="glyphicon glyphicon-star"></span>-->
<!--                                        <span class="glyphicon glyphicon-star"></span>-->
<!--                                        <span class="glyphicon glyphicon-star-empty"></span>-->
<!--                                    </div>-->
<!--                                    <p>{{ product.description|truncatewords:15 }}</p>-->
<!--                                    <p> <strong>Brand :</strong> {{ product.brand }}</p>-->
<!--                                    <p> <strong>Color :</strong> {{ product.color }}</p>-->
<!--                                    <p> <strong>Size :</strong> {{ product.size }}</p>-->
<!--                                    <hr class="line">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-md-6 col-sm-6">-->
<!--                                            <p class="price">{{ product.price }}</p>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-6 col-sm-6">-->
<!--                                            &lt;!&ndash;<a href="{% url 'product.detail'  id=product.id %}" target="_blank" >	<button class="btn btn-info right" >View Detail</button></a>&ndash;&gt;-->
<!--                                             <a href="{{ product.get_absolute_url }}" target="_blank" >	<button class="btn btn-info right" >View Detail</button></a>-->
<!--                                        </div>-->

<!--                                    </div>-->

<!--                                    <div class="row">-->
<!--                                        <div class="col-md-6 col-sm-6">-->
<!--                                            <a class="btn btn-primary left">Buy Now</a>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-6 col-sm-6">-->
<!--                                            <a href="{% url 'carts.update_cart' product.id %}" class="btn btn-primary right">Add to Cart</a>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                </span>-->
<!--                            </div>-->

<!--                    {% endfor %}-->



                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js_block %}
    <script type="text/javascript">
        $(document).ready(function(){

            filter_data();

            function filter_data(){

                //$('.filter_data').html('<div id="loading" style=""></div>');
                var action        = 'fetch_data';
                var minimum_price = $('#minimum_price').val();
                var maximum_price = $('#maximum_price').val();
                var brand         = get_filter('brand');
                var color         = get_filter('color');
                var size          = get_filter('size');

                //alert(brand); return false;

                $.ajax({
                    url:      '{% url 'product.productlist.ajax' %}',
                    method:   'post',
                    dataType: 'json',
                    data:     { csrfmiddlewaretoken: '{{ csrf_token }}', minimum_price: minimum_price, maximum_price: maximum_price, brand: JSON.stringify(brand), color: JSON.stringify(color), size: JSON.stringify(size) },
                    success: function(data){
                        //$('.filter_data).html(data);
                        $('.filter_data').html(data[0]['data']);
                    }

                });
            }

            function get_filter(class_name){
                 var filter = [];
                 $('.'+class_name+':checked').each(function(){
                    filter.push($(this).val());
                 });
                 return filter;
            }

            $('.common_selector').click(function(){
                filter_data();
            });

        });
    </script>
{% endblock %}